<div class="p-grid p-p-0" style="background-color: #fbfcfc">
  <div
    class="
      p-col-12
      p-lg-6
      p-sm-12
      p-d-flex
      p-ai-left
      p-jc-start
      p-text-left
      p-p-6
      p-mt-6
      p-flex-column
    "
  >
    <div class="p-pl-lg-6">
      <span
        class="p-text-left"
        style="line-height: 78px; font-size: 60px; font-weight: bolder"
      >
        Cloud Developer<br />Courses and Tutorials
      </span>
      <div class="p-my-4">
        <span>
          Here are top tredning categories across multiple platforms.<br />
          You can pick your field and start learning with the best.
        </span>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-lg-6 p-sm-12 p-p-0 p-d-flex p-jc-center">
    <img
      style="width: 100%; height: auto"
      src="assets/images/home-banner.png"
    />
  </div>
</div>
