<div class="p-grid" style="background-color: #f7f7ff ;">
  <div
    class="
      p-col-12
      p-lg-12
      p-xl-6
      p-sm-12
      p-d-flex
      p-ai-left
      p-jc-start
      p-text-left
      p-p-6
      p-mt-6
      p-flex-column
    "
  >
    <div class="p-pl-lg-6">
      <span
        class="p-text-left"
        style="line-height: 78px; font-size: 60px; font-weight: bolder"
      >
        Find right<br />platform for your<br />
        upcoming course
      </span>
      <div class="p-my-4">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. officia
          deserunt mollit anim id est laborum
        </span>
      </div>
      <div>
        <button routerLink="home" class="custom-button-primary p-button p-p-3">
          <span
            style="
              font-family: Poppins;
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: 30px;
              letter-spacing: 0em;
              text-align: left;
            "
          >
            BROWSE COURSES
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-lg-12 p-xl-6 p-sm-12 p-p-0 p-d-flex p-jc-center">
    <img style="width: 100%; height: auto" src="assets/images/banner.png" />
  </div>
</div>
