<div class="p-grid p-d-flex p-jc-center p-p-3 p-flex-column p-text-center">
  <i class="pi pi-lock" style="font-size: 10rem; color: silver"></i>
  <h1>Unauthorized access</h1>
  <div class="p-text-center">
    <button
      style="width: 200px"
      (click)="goBack()"
      class="custom-button-primary p-button p-px-6 p-mt-3 p-mb-6"
    >
      <span
        style="
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 30px;
          letter-spacing: 0em;
        "
      >
        Go To Home
      </span>
    </button>
  </div>
</div>
