<p-menubar [model]="menuItems" *ngIf="isLoggedIn" styleClass="custom-bg-white p-m-0">
  <!-- <div> -->
    <!-- <ng-template pTemplate="start">
      <img
        src="assets/icons/logopng.png"
        height="40"
      />
    </ng-template> -->
    <!-- <ng-template pTemplate="end"> -->
    <!-- <input type="text" pInputText placeholder="Search" /> -->
    <p-button label="Search" icon="pi pi-search" routerLink="home" styleClass="p-button-sm custom-button-primary"></p-button>
    <!-- </ng-template> -->
  <!-- </div> -->
</p-menubar>
