<p-toast></p-toast>
<!-- <div class="p-p-0 p-m-0">
  <app-top-toolbar></app-top-toolbar>
</div>
<div class="topHeader">
  <app-top-menu></app-top-menu>
</div>
<div class="mainScreen">
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
<div class="p-p-0 p-m-0">
</div> -->
<div class="p-grid custom-font-poppins">
  <div class="p-col-12 p-m-0 p-p-0">
    <app-top-toolbar></app-top-toolbar>
  </div>
  <div class="p-col-12 p-m-0 p-p-0">
    <app-top-menu></app-top-menu>
  </div>
  <div class="p-col-12 p-m-0 p-p-1 p-m-1">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
</div>